<div ng-controller="StatusController" class="status-view">


    <div class="row">
        <div class="col-xs-6">
            <div class="tile" ng-class="{red: heaterStatus !== true, green: heaterStatus === true, darkgray: heaterButtonDisabled }" ng-click="heaterButtonDisabled ? angular.noop() : switchHeating()">
                <h1 class="title">{{heaterStatus | booleanOnOff}}</h1>
                <p>HEATING status</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="tile red">
                <h3 class="title">OFF in 12 min</h3>
                <p>NEXT event</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="tile blue">
                <h1 class="title">{{insideTemp}}&deg;</h1>
                <p>INSIDE temp.</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="tile orange">
                <h1 class="title">{{outsideTemp}}&deg; <i title="{{weatherStatus}}" class="wi {{weatherIcon}}"></i></h1>
                <small>Feels like {{outsideWindChill}}&deg;</small>
                <p>OUTSIDE temp.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="tile green">
                <h1 class="title">{{insideHumidity}}%</h1>
                <p>INSIDE hum.</p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="tile purple">
                <h1 class="title">{{outsideHumidity}}%</h1>
                <p>OUTSIDE hum.</p>
            </div>
        </div>
    </div>

</div>
